/*************************/
/*** GENERAL SETTINGS ***/
/************************/

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-family: 'Source Sans 3', sans-serif;
	background-color: #f3f6fb;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

.centertext {
	text-align: center;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: inherit;
}


/********************/
/*** HERO SECTION ***/
/********************/
h1 {
	font-size: 3rem;
}

.hero {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../../images/luke-moore-ridge.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #FFFFFF;
}

.container {
	background-color: #0000009a;
	padding: 3rem;
}

.container p {
	font-weight: 500;
}

.container .title {
	font-size: 1.8rem;
	letter-spacing: 0.2rem;
}

.container .tech {
	padding: 2rem 0 1rem 0;
}

.container .contact-btn {
	padding: .5rem 4rem;
	background-color: #ffffff00;
	font-weight: 800;
	letter-spacing: .1rem;
	color: #fff;
	border: 1px solid #fff;
	cursor:pointer;
}

/*********************/
/*** ABOUT SECTION ***/
/*********************/

.about {
	margin: 5rem;
}

h2 {
	font-size: 1.8rem;
	font-weight: 300;
	padding: 1rem;
}

.about p {
	margin: 0 auto;
	width: 90%;
}

.about p+p {
	padding-top: 0.5rem;
}

/************************/
/*** PROJECT SECTION ***/
/***********************/
.portfolio {
	margin: 5rem auto 0 auto;
	width: 90%;
	background-color: #FFFFFF;
	border-radius: 5px;
}

.port-title {
	padding-top: 3rem;
}

.portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* align-items: center; */
	padding: 0 1.5rem;
}

.project-container {
	flex: 1 0 200px;
	margin: 1rem;
	max-width: 500px;
	min-width: 300px;
	padding: 1.25rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.123);
	/* width: 45%; */
}

.project-img {
	width:  100%;
	height:  auto;
	/* object-fit: contain; */
}

h4 {
	font-weight: 500;
	letter-spacing: .025rem;
	padding: 1rem;
}

h5 {
	font-weight: 300;
	letter-spacing: .1rem;
	padding: .5rem;
}

.github-container {
	margin:  2rem 0 3rem 0;
}

.github {
	margin: 3rem 0;
	padding: .5rem 2rem;
	width: 20rem;
	cursor:pointer;
	background-color: #ffffff00;
	font-weight: 800;
	letter-spacing: .1rem;
	border: 1px solid #000000a2;
}

/************************/
/*** FOOTER SECTION ***/
/***********************/

.footer {
	margin: 2rem 0 2rem 0;
	height: 35vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.foot-btn {
	margin: 3rem 0;
	padding: .5rem 2rem;
	width: 15rem;
	cursor:pointer;
	background-color: #ffffff00;
	font-weight: 800;
	letter-spacing: .1rem;
	border: 1px solid #000000a2;
}

.foot-container {
	width: 90%;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 3rem;
}

/****************/
/**** MOBILE ****/
/****************/
@media screen and (max-width:   764px) {	
	.container2 {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 0 1.5rem;
	}
	
	.project {
		margin: 2rem;
		width: 80%;
	}
	
	.project-img {
		width:  100%;
		height:  270px;
		object-fit: contain;
	}
	
	h4 {
		font-weight: 300;
		letter-spacing: .025rem;
		padding: .25rem;
	}

	.github {
		margin: 1rem 0;
		padding: .5rem 1rem;
		width: 20rem;
	}
}

@media screen and (max-width: 643px) {
	.foot-btn {
		margin: .25rem 0;
	}
	

}

@media screen and (max-width: 464px) {
	h1 {
		font-size: 2rem;
	}

	.container .title {
		font-size: 1.25rem;
	}

	.about {
		margin: 2rem;
	}
	
	h2 {
		font-size: 1.5rem;
	}

	.github {
		margin: 1rem 0;
		padding: .5rem 1rem;
		width: 18rem;
	}
}

@media screen and (max-width: 374px){
	.foot-btn {
		margin: .25rem 0;
		padding: .5rem .25rem;
		width: 10rem;
		cursor:pointer;
		background-color: #ffffff00;
		font-weight: 800;
		letter-spacing: .1rem;
		border: 1px solid #000000a2;
	}
}

@media screen and (max-width: 341px){
	h1 {
		font-size: 1.75rem;
	}

	.container .title {
		font-size: 1.1rem;
	}

	.tech {
		display: none;
	}	

	.container .contact-btn {
		margin-top: 1rem;
		padding: .5rem 2rem;
	}

	.container2 {
		padding: 0 .1rem;
	}

	.project {
		margin: .1rem;
		width: 90%;
	}

	h4 {
		padding: .5rem;
	}

	.github-container {
		margin:  .5rem;
	}
	
	.github {
		margin: 1.5rem 0;
		padding: .5rem 2rem;
		width: 90%;
	}
}